@page
@model My_Ap.Pages.Create_new_accountModel
@{
}
    <div class="contact wow fadeInUp">
                <div class="container">
                    <div class="section-header text-center">
                        <p> Register </p>
                        <h2>New User Details</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-info">
                                <div class="contact-item">
                                    <i class="flaticon-address"></i>
                                    <div class="contact-text">
                                        <h2>Infomation Note :</h2>
                                        <p>Welcome to AMB Finance, We are very happy to see you as a part of our delighted customer service user.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div id="success"></div>
                                <form name="sentMessage" id="contactForm">
                                    <div class="control-group">
                                        <input type="number" class="form-control" id="mobile" placeholder="Your Mobile Number" required="required" data-validation-required-message="Please enter Moblie Number" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your Name" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="number" class="form-control" id="age" placeholder="Your Age" required="required" data-validation-required-message="Please enter your Age" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <select id="gender" class="form-control" required="required">
                                          <option value="" class="form-control">Select Gender</option>
                                          <option value="Male" class="form-control">Male</option>
                                          <option value="Female" class="form-control">Female</option>
                                          <option value="Other" class="form-control">Other</option>
                                        </select>  
                                    </div><br>
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="address" placeholder="Your Address" required="required" data-validation-required-message="Please enter your Address" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <hr>
                                    <div class="control-group">
                                        <select id="account" class="form-control" required="required">
                                          <option class="form-control">Select Account Type</option>
                                          <option value="Current" class="form-control">Current Account</option>
                                          <option value="Saving" class="form-control">Saving Account</option>
                                        </select>  
                                    </div><br>
                                    <div class="control-group">
                                        <select id="city" class="form-control" required="required">
                                          <option class="form-control" >Select City</option>
                                          <option value="Jodhpur" class="form-control">Lahore</option>
                                          <option value="Banglore" class="form-control">Karachi</option>
                                          <option value="Chennai" class="form-control">Islamabad</option>
                                          <option value="Chennai" class="form-control">Quetta</option>
                                        </select>  
                                    </div><br>
                                    <div class="control-group">
                                        <select id="branch" class="form-control" required="required">
                                          <option class="form-control">Select Branch</option>
                                          <option value="option1" class="form-control">Main (Lahore)</option>
                                          <option value="option1" class="form-control">Islamabad</option>
                                        </select>  
                                    </div><br>

                                    <div class="contact-form">
                                        <button class="btn" type="submit" id="loginButton">Create New Account</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>