@page
@model My_Ap.Pages.Customer_pageModel
@{
}
<div class="contact wow fadeInUp">
    <div class="container">
        <div class="section-header text-center">
            <p>Welcome</p>
            <h2>To your Personlised Banking Experince.</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <div class="contact-item">
                        <img src="~/coin.png">
                        <div class="contact-text">
                            <h2>Account Balance :</h2>
                            <p> &#8377; 1,35,000.00</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <img src="~/deposit.png">
                        <div class="contact-text">
                            <h2>Fixed Deposit</h2>
                            <p> &#8377; 2,45,000.00</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <img src="~/invest.png">
                        <div class="contact-text">
                            <h2>Investments</h2>
                            <p> &#8377; 19,45,000.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-info">
                    <div class="contact-item">
                        <img src="~/recharge.png">
                        <div class="contact-text">
                            <h2>Instant Recharge</h2>
                            <p> +91 <input type="number" placeholder="Enter Mobile Number"></p>
                            <p class="contact-form">&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<button class="btn" type="submit">Recharge</button></p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <img src="~/ccard.png">
                        <div class="contact-text">
                            <h2>Credit Card Payment</h2>
                            <p> &#8377; <input type="number" placeholder="Enter Card Number"></p>
                            <p class="contact-form">&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<button class="btn" type="submit">Pay Now</button></p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <img src="~/insurance.png">
                        <div class="contact-text">
                            <h2>Insurance Policy Payment</h2>
                            <p> &#8377; <input type="number" placeholder="Enter Policy Number"></p>
                            <p class="contact-form">&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<button class="btn" type="submit">Pay Now</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>