@page
@model My_Ap.Pages.Log_inModel
@{
}
<div class="contact wow fadeInUp">
    <div class="container">
        <div class="section-header text-center">
            <p> Online Banking </p>
            <h2>ID / Password</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <div class="contact-item">
                        <i class="flaticon-address"></i>
                        <div class="contact-text">
                            <h2>Important Note :</h2>
                            <p>* Never share your Online Banking ID / Password with anyone.</p>
                            <p>* Forgot your Password ! Call our Toll-Free Number : 1800-180-180 anytime 24/7.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm">
                        <div class="control-group">
                            <input type="text" class="form-control" id="mobile" placeholder="Your Mobile Number / Account Number" required="required" data-validation-required-message="Please enter Moblie Number" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="Password" class="form-control" id="Password" placeholder="Your Password" required="required" data-validation-required-message="Please enter your Password" />
                            <p class="help-block text-danger"></p>

                        </div>
                        <div>
                            <button class="btn" type="submit" id="loginButton">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>