@page
@model My_Ap.Pages.Our_ProjectsModel
@{

}
<div class="our_projects">
     <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Our Projects</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Our Projects</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Our Projects</p>
                        <h2>Visit Our Projects</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".first">Complete</li>
                                <li data-filter=".second">Running</li>
                                <li data-filter=".third">Upcoming</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="~/project1.png" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Wealth management is an investment advisory service that combines other financial services to address the needs of affluent clients.
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Wealth Management</h3>
                                    <a class="btn" href="~/project1.png" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.2s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="~/project2.png" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Corporations often need to raise external funding, or capital, in order to expand their businesses into new markets or locations, to invest in research & development, or to fend off the competition.
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Corporate Sector Funding</h3>
                                    <a class="btn" href="~/project2.png" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.3s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="~/project3.png" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Rural Development is the process of improving the quality of life and economic well-being of people living in rural areas, often relatively isolated and sparsely populated areas.
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Rural Development</h3>
                                    <a class="btn" href="~/project3.png" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.4s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="~/project4.png" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Water security is essential to humankind as it supports public health, economic growth, environmental sustainability, political stability and disaster risk reduction.
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Water Management Funding</h3>
                                    <a class="btn" href="~/project4.png" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="~/project5.png" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Urban planning, also known as regional planning, town planning, city planning, or rural planning, is a technical and political process that is focused on the development and design of land use and the built environment.
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Urbanization Plan</h3>
                                    <a class="btn" href="~/project5.png" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.6s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="~/project6.png" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Digital Market is an Invite only Private Marketplace. Get access to certified virtual assistants, joint venture partners and secret execution plans.
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Digital Market</h3>
                                    <a class="btn" href="~/project6.png" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 load-more">
                            <a class="btn" href="#">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
</div>
