@page
@model My_Ap.Pages.servicessModel
@{

}
<div class="services">
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our Services</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Our Services</a>
            </div>
        </div>
    </div>
    </div>
<!-- Page Header End -->
    <!-- Service Start -->
    <div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Services</p>
            <h2>We Provide Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/service1.png" alt="Image">
                        <div class="service-overlay">
                            <p>
                                You can now:<br>-Check account balance<br>-View last 5 transactions<br>-Check Credit card details<br>-Send Cheque book request<br>-Stop cheque request
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Manage Accounts</h3>
                        <a class="btn" href="~/service1.png" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/service2.png" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Transfer funds to own AMB Finance account, other AMB Finance account and non-AMB Finance account using NEFT service from anywhere using m.suncitybank.com. Fund transfer can be done, 24 x7, even on holiday.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Funds Transfer</h3>
                        <a class="btn" href="~/service2.png" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/service3.png" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Cardless Cash Withdrawal service is a simple and safe mode for you to send cash, 24x7, to any mobile number in India.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Cardless Withdrawal</h3>
                        <a class="btn" href="~/service3.png" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/service4.png" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Say good bye to running out of talk time or missing your favorite shows by recharging your prepaid mobile and DTH connection on the go and at your own comfort with m.suncitybank.com.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Recharge Mobile/DTH</h3>
                        <a class="btn" href="~/service4.png" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/service5.png" alt="Image">
                        <div class="service-overlay">
                            <p>
                                With the convenience of AMB Finance Internet Banking on your mobile, you can pay your bills anytime, from anywhere. Avoid long queues by registering your billers and pay all your utility bills - electricity, gas, phone/mobile etc , on time with m.suncitybank.com.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Pay Utility Bills</h3>
                        <a class="btn" href="~/service5.png" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/service6.png" alt="Image">
                        <div class="service-overlay">
                            <p>
                                AMB Finance Credit Card bring to you convenience coupled with absolute safety and unparalleled discounts. In addition, we have taken a step further to provide you convenience on the go. You can now pay your credit card bills by logging into care.AMB_finance.com.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Credit Card Payments</h3>
                        <a class="btn" href="~/service6.png" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Footer End -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>
